<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salary</key>
	<dict>
		<key>salary</key>
		<integer>18900</integer>
		<key>stockholmSalary</key>
		<integer>19</integer>
	</dict>
</dict>
</plist>
